<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>702721866014-nbb24ecpuqbmnl8hoc2upmu63fnh780b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.702721866014-nbb24ecpuqbmnl8hoc2upmu63fnh780b</string>
	<key>API_KEY</key>
	<string>AIzaSyCmrVhinxIDd06ta0a9LiVtbKuuxS5dMK0</string>
	<key>GCM_SENDER_ID</key>
	<string>702721866014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterBloc</string>
	<key>PROJECT_ID</key>
	<string>flutter-bloc-db7fc</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-bloc-db7fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702721866014:ios:4ca939cdcad03bec55710f</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-bloc-db7fc.firebaseio.com</string>
</dict>
</plist>